.c-footer
  .l-container
    .c-footer__content
      ul.c-footer__links
        li.c-footer__link-element
          nuxt-link.c-footer__link(to="/map") Karte
        li.c-footer__link-element
          nuxt-link.c-footer__link(to="/ueber-uns") Über uns
        li.c-footer__link-element
          nuxt-link.c-footer__link(to="/preise") Preise
        li.c-footer__link-element
          nuxt-link.c-footer__link(to="/jobs") Jobs
      ul.c-footer__links
        li.c-footer__link-element
          nuxt-link.c-footer__link(to="/impressum") Impressum
        li.c-footer__link-element
          nuxt-link.c-footer__link(to="/datenschutz") Datenschutz
        li.c-footer__link-element
          nuxt-link.c-footer__link(to="/agb") AGB
      .c-footer__apps
        h3.c-footer__apps-headline Auch als App erhältlich
        .c-footer__app-buttons
          .c-footer__app-button
            a(href="/")
              img(src="~/assets/googleplay-filled.svg" width="150")
          .c-footer__app-button
            a(href="/")
              img(src="~/assets/appstore-filled.svg" width="150")
    .c-footer__copy
      span &copy 2020 - COVIBIKE
