.c-nav
  nuxt-link.c-nav__link(to="/karte") Karte
  nuxt-link.c-nav__link(to="/ueber-uns") Über uns
  nuxt-link.c-nav__link(to="/preise") Preise
  img.c-nav__user-avatar(:src="avatarUrl" alt="user avatar" width="50" height=50 @click="showLogin")
  Login
